.alinhar-itens-navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: blueviolet;
    border-bottom: 5px;
    border-style: solid;
    border-color: black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    
}

.MargemBotaohome{
    margin: 20px;

}

.ajustarItensNavbar{
    margin: 20px;
}

.personalizarbotao{
    background-color: rgb(164, 54, 255);
    border-style: inset;
    border-color: white;
    
}

.personalizarbotaodireita{
    background-color: rgb(164, 54, 255);
    border-style: inset;
    border-color: white;
    display: flex;
    justify-content: right;
}

